.el-button-block {
    display: block;
    width: 100%;
}
#layout-aside .el-menu {
    border-right: none;
}
/* 导航菜单高亮 */
.el-menu-item.is-active { background-color: #574b5b !important; }
.el-submenu.is-opened {
    .el-submenu__title { background-color: #f56c6c !important; }
}
/*上传组件*/
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}
.avatar {
    width: 178px;
    height: 178px;
    display: block;
}
/* 日期组件 z-index */
.el-popper { z-index: 10002 !important; }