.el-button-block {
    display: block;
    width: 100%;
}
#layout-aside .el-menu {
    border-right: none;
}
/* 导航菜单高亮 */
.el-menu-item.is-active { background-color: #574b5b !important; }
.el-submenu.is-opened {
    .el-submenu__title { background-color: #f56c6c !important; }
}